In [1]:
import pandas as pd

In [2]:
so_data = pd.read_csv('survey_results_public.csv')

In [3]:
so_data

,Respondent,MainBranch,Hobbyist,Age,Age1stCode,CompFreq,CompTotal,ConvertedComp,Country,CurrencyDesc,...,SurveyEase,SurveyLength,Trans,UndergradMajor,WebframeDesireNextYear,WebframeWorkedWith,WelcomeChange,WorkWeekHrs,YearsCode,YearsCodePro
0,1,I am a developer by profession,Yes,NaN,13,Monthly,NaN,NaN,Germany,European Euro,...,Neither easy nor difficult,Appropriate in length,No,"Computer science, computer engineering, or sof...",ASP.NET Core,ASP.NET;ASP.NET Core,Just as welcome now as I felt last year,50.0,36,27
1,2,I am a developer by profession,No,NaN,19,NaN,NaN,NaN,United Kingdom,Pound sterling,...,NaN,NaN,NaN,"Computer science, computer engineering, or sof...",NaN,NaN,Somewhat more welcome now than last year,NaN,7,4
2,3,I code primarily as a hobby,Yes,NaN,15,NaN,NaN,NaN,Russian Federation,NaN,...,Neither easy nor difficult,Appropriate in length,NaN,NaN,NaN,NaN,Somewhat more welcome now than last year,NaN,4,NaN
3,4,I am a developer by profession,Yes,25.0,18,NaN,NaN,NaN,Albania,Albanian lek,...,NaN,NaN,No,"Computer science, computer engineering, or sof...",NaN,NaN,Somewhat less welcome now than last year,40.0,7,4
4,5,"I used to be a developer by profession, but no...",Yes,31.0,16,NaN,NaN,NaN,United States,NaN,...,Easy,Too short,No,"Computer science, computer engineering, or sof...",Django;Ruby on Rails,Ruby on Rails,Just as welcome now as I felt last year,NaN,15,8
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
64456,64858,NaN,Yes,NaN,16,NaN,NaN,NaN,United States,NaN,...,NaN,NaN,NaN,"Computer science, computer engineering, or sof...",NaN,NaN,NaN,NaN,10,Less than 1 year
64457,64867,NaN,Yes,NaN,NaN,NaN,NaN,NaN,Morocco,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
64458,64898,NaN,Yes,NaN,NaN,NaN,NaN,NaN,Viet Nam,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
64459,64925,NaN,Yes,NaN,NaN,NaN,NaN,NaN,Poland,NaN,...,NaN,NaN,NaN,NaN,Angular;Angular.js;React.js,NaN,NaN,NaN,NaN,NaN
64460,65112,NaN,Yes,NaN,NaN,NaN,NaN,NaN,Spain,NaN,...,NaN,NaN,NaN,"Computer science, computer engineering, or sof...",ASP.NET Core;jQuery,Angular;Angular.js;ASP.NET Core;jQuery,NaN,NaN,NaN,NaN

In [4]:
so_data.head()

,Respondent,MainBranch,Hobbyist,Age,Age1stCode,CompFreq,CompTotal,ConvertedComp,Country,CurrencyDesc,...,SurveyEase,SurveyLength,Trans,UndergradMajor,WebframeDesireNextYear,WebframeWorkedWith,WelcomeChange,WorkWeekHrs,YearsCode,YearsCodePro
0,1,I am a developer by profession,Yes,NaN,13,Monthly,NaN,NaN,Germany,European Euro,...,Neither easy nor difficult,Appropriate in length,No,"Computer science, computer engineering, or sof...",ASP.NET Core,ASP.NET;ASP.NET Core,Just as welcome now as I felt last year,50.0,36,27
1,2,I am a developer by profession,No,NaN,19,NaN,NaN,NaN,United Kingdom,Pound sterling,...,NaN,NaN,NaN,"Computer science, computer engineering, or sof...",NaN,NaN,Somewhat more welcome now than last year,NaN,7,4
2,3,I code primarily as a hobby,Yes,NaN,15,NaN,NaN,NaN,Russian Federation,NaN,...,Neither easy nor difficult,Appropriate in length,NaN,NaN,NaN,NaN,Somewhat more welcome now than last year,NaN,4,NaN
3,4,I am a developer by profession,Yes,25.0,18,NaN,NaN,NaN,Albania,Albanian lek,...,NaN,NaN,No,"Computer science, computer engineering, or sof...",NaN,NaN,Somewhat less welcome now than last year,40.0,7,4
4,5,"I used to be a developer by profession, but no...",Yes,31.0,16,NaN,NaN,NaN,United States,NaN,...,Easy,Too short,No,"Computer science, computer engineering, or sof...",Django;Ruby on Rails,Ruby on Rails,Just as welcome now as I felt last year,NaN,15,8

In [5]:
so_data.head(10)

,Respondent,MainBranch,Hobbyist,Age,Age1stCode,CompFreq,CompTotal,ConvertedComp,Country,CurrencyDesc,...,SurveyEase,SurveyLength,Trans,UndergradMajor,WebframeDesireNextYear,WebframeWorkedWith,WelcomeChange,WorkWeekHrs,YearsCode,YearsCodePro
0,1,I am a developer by profession,Yes,NaN,13,Monthly,NaN,NaN,Germany,European Euro,...,Neither easy nor difficult,Appropriate in length,No,"Computer science, computer engineering, or sof...",ASP.NET Core,ASP.NET;ASP.NET Core,Just as welcome now as I felt last year,50.0,36,27
1,2,I am a developer by profession,No,NaN,19,NaN,NaN,NaN,United Kingdom,Pound sterling,...,NaN,NaN,NaN,"Computer science, computer engineering, or sof...",NaN,NaN,Somewhat more welcome now than last year,NaN,7,4
2,3,I code primarily as a hobby,Yes,NaN,15,NaN,NaN,NaN,Russian Federation,NaN,...,Neither easy nor difficult,Appropriate in length,NaN,NaN,NaN,NaN,Somewhat more welcome now than last year,NaN,4,NaN
3,4,I am a developer by profession,Yes,25.0,18,NaN,NaN,NaN,Albania,Albanian lek,...,NaN,NaN,No,"Computer science, computer engineering, or sof...",NaN,NaN,Somewhat less welcome now than last year,40.0,7,4
4,5,"I used to be a developer by profession, but no...",Yes,31.0,16,NaN,NaN,NaN,United States,NaN,...,Easy,Too short,No,"Computer science, computer engineering, or sof...",Django;Ruby on Rails,Ruby on Rails,Just as welcome now as I felt last year,NaN,15,8
5,6,I am a developer by profession,No,NaN,14,NaN,NaN,NaN,Germany,European Euro,...,Neither easy nor difficult,Appropriate in length,NaN,NaN,React.js,NaN,NaN,NaN,6,4
6,7,I am a developer by profession,Yes,NaN,18,Monthly,NaN,NaN,India,United States dollar,...,NaN,NaN,NaN,"Computer science, computer engineering, or sof...",NaN,NaN,A lot more welcome now than last year,NaN,6,4
7,8,I am a developer by profession,Yes,36.0,12,Yearly,116000.0,116000.0,United States,United States dollar,...,Easy,Appropriate in length,No,"Computer science, computer engineering, or sof...",Django;React.js;Vue.js,Flask,Just as welcome now as I felt last year,39.0,17,13
8,9,I am a developer by profession,No,30.0,20,NaN,NaN,NaN,Tunisia,United States dollar,...,Neither easy nor difficult,Appropriate in length,No,"Computer science, computer engineering, or sof...",Angular.js,jQuery,Just as welcome now as I felt last year,50.0,6,4
9,10,I am a developer by profession,Yes,22.0,14,Yearly,25000.0,32315.0,United Kingdom,Pound sterling,...,Easy,Appropriate in length,No,Mathematics or statistics,Flask;jQuery,Flask;jQuery,Somewhat more welcome now than last year,36.0,8,4

In [6]:
so_data.head(2)

,Respondent,MainBranch,Hobbyist,Age,Age1stCode,CompFreq,CompTotal,ConvertedComp,Country,CurrencyDesc,...,SurveyEase,SurveyLength,Trans,UndergradMajor,WebframeDesireNextYear,WebframeWorkedWith,WelcomeChange,WorkWeekHrs,YearsCode,YearsCodePro
0,1,I am a developer by profession,Yes,NaN,13,Monthly,NaN,NaN,Germany,European Euro,...,Neither easy nor difficult,Appropriate in length,No,"Computer science, computer engineering, or sof...",ASP.NET Core,ASP.NET;ASP.NET Core,Just as welcome now as I felt last year,50.0,36,27
1,2,I am a developer by profession,No,NaN,19,NaN,NaN,NaN,United Kingdom,Pound sterling,...,NaN,NaN,NaN,"Computer science, computer engineering, or sof...",NaN,NaN,Somewhat more welcome now than last year,NaN,7,4

In [7]:
so_data.tail()

,Respondent,MainBranch,Hobbyist,Age,Age1stCode,CompFreq,CompTotal,ConvertedComp,Country,CurrencyDesc,...,SurveyEase,SurveyLength,Trans,UndergradMajor,WebframeDesireNextYear,WebframeWorkedWith,WelcomeChange,WorkWeekHrs,YearsCode,YearsCodePro
64456,64858,NaN,Yes,NaN,16,NaN,NaN,NaN,United States,NaN,...,NaN,NaN,NaN,"Computer science, computer engineering, or sof...",NaN,NaN,NaN,NaN,10,Less than 1 year
64457,64867,NaN,Yes,NaN,NaN,NaN,NaN,NaN,Morocco,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
64458,64898,NaN,Yes,NaN,NaN,NaN,NaN,NaN,Viet Nam,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
64459,64925,NaN,Yes,NaN,NaN,NaN,NaN,NaN,Poland,NaN,...,NaN,NaN,NaN,NaN,Angular;Angular.js;React.js,NaN,NaN,NaN,NaN,NaN
64460,65112,NaN,Yes,NaN,NaN,NaN,NaN,NaN,Spain,NaN,...,NaN,NaN,NaN,"Computer science, computer engineering, or sof...",ASP.NET Core;jQuery,Angular;Angular.js;ASP.NET Core;jQuery,NaN,NaN,NaN,NaN

In [8]:
so_data.tail(10)

,Respondent,MainBranch,Hobbyist,Age,Age1stCode,CompFreq,CompTotal,ConvertedComp,Country,CurrencyDesc,...,SurveyEase,SurveyLength,Trans,UndergradMajor,WebframeDesireNextYear,WebframeWorkedWith,WelcomeChange,WorkWeekHrs,YearsCode,YearsCodePro
64451,64104,NaN,Yes,NaN,19,NaN,NaN,NaN,Poland,NaN,...,NaN,NaN,NaN,"Another engineering discipline (such as civil,...",NaN,NaN,NaN,NaN,2,NaN
64452,64236,NaN,Yes,NaN,NaN,NaN,NaN,NaN,India,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
64453,64330,NaN,Yes,NaN,5,NaN,NaN,NaN,Thailand,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3,NaN
64454,64480,NaN,Yes,NaN,21,NaN,NaN,NaN,Morocco,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,Just as welcome now as I felt last year,NaN,3,NaN
64455,64567,NaN,Yes,NaN,NaN,NaN,NaN,NaN,Netherlands,NaN,...,NaN,NaN,NaN,NaN,NaN,ASP.NET Core,NaN,NaN,NaN,NaN
64456,64858,NaN,Yes,NaN,16,NaN,NaN,NaN,United States,NaN,...,NaN,NaN,NaN,"Computer science, computer engineering, or sof...",NaN,NaN,NaN,NaN,10,Less than 1 year
64457,64867,NaN,Yes,NaN,NaN,NaN,NaN,NaN,Morocco,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
64458,64898,NaN,Yes,NaN,NaN,NaN,NaN,NaN,Viet Nam,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
64459,64925,NaN,Yes,NaN,NaN,NaN,NaN,NaN,Poland,NaN,...,NaN,NaN,NaN,NaN,Angular;Angular.js;React.js,NaN,NaN,NaN,NaN,NaN
64460,65112,NaN,Yes,NaN,NaN,NaN,NaN,NaN,Spain,NaN,...,NaN,NaN,NaN,"Computer science, computer engineering, or sof...",ASP.NET Core;jQuery,Angular;Angular.js;ASP.NET Core;jQuery,NaN,NaN,NaN,NaN

In [9]:
so_data.shape

(64461, 61)

In [10]:
so_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 64461 entries, 0 to 64460
Data columns (total 61 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   Respondent                    64461 non-null  int64
 1   MainBranch                    64162 non-null  object
 2   Hobbyist                      64416 non-null  object
 3   Age                           45446 non-null  float64
 4   Age1stCode                    57900 non-null  object
 5   CompFreq                      40069 non-null  object
 6   CompTotal                     34826 non-null  float64
 7   ConvertedComp                 34756 non-null  float64
 8   Country                       64072 non-null  object
 9   CurrencyDesc                  45472 non-null  object
 10  CurrencySymbol                45472 non-null  object
 11  DatabaseDesireNextYear        44070 non-null  object
 12  DatabaseWorkedWith            49537 non-null  object
 13  DevType                       49370 non-null  object
 14  EdLevel                       57431 non-null  object
 15  Employment                    63854 non-null  object
 16  Ethnicity                     45948 non-null  object
 17  Gender                        50557 non-null  object
 18  JobFactors                    49349 non-null  object
 19  JobSat                        45194 non-null  object
 20  JobSeek                       51727 non-null  object
 21  LanguageDesireNextYear        54113 non-null  object
 22  LanguageWorkedWith            57378 non-null  object
 23  MiscTechDesireNextYear        42379 non-null  object
 24  MiscTechWorkedWith            40314 non-null  object
 25  NEWCollabToolsDesireNextYear  47287 non-null  object
 26  NEWCollabToolsWorkedWith      52883 non-null  object
 27  NEWDevOps                     42686 non-null  object
 28  NEWDevOpsImpt                 41732 non-null  object
 29  NEWEdImpt                     48465 non-null  object
 30  NEWJobHunt                    42286 non-null  object
 31  NEWJobHuntResearch            41022 non-null  object
 32  NEWLearn                      56156 non-null  object
 33  NEWOffTopic                   50804 non-null  object
 34  NEWOnboardGood                42623 non-null  object
 35  NEWOtherComms                 57205 non-null  object
 36  NEWOvertime                   43231 non-null  object
 37  NEWPurchaseResearch           37321 non-null  object
 38  NEWPurpleLink                 54803 non-null  object
 39  NEWSOSites                    58275 non-null  object
 40  NEWStuck                      54983 non-null  object
 41  OpSys                         56228 non-null  object
 42  OrgSize                       44334 non-null  object
 43  PlatformDesireNextYear        50605 non-null  object
 44  PlatformWorkedWith            53843 non-null  object
 45  PurchaseWhat                  39364 non-null  object
 46  Sexuality                     43992 non-null  object
 47  SOAccount                     56805 non-null  object
 48  SOComm                        56476 non-null  object
 49  SOPartFreq                    46792 non-null  object
 50  SOVisitFreq                   56970 non-null  object
 51  SurveyEase                    51802 non-null  object
 52  SurveyLength                  51701 non-null  object
 53  Trans                         49345 non-null  object
 54  UndergradMajor                50995 non-null  object
 55  WebframeDesireNextYear        40024 non-null  object
 56  WebframeWorkedWith            42279 non-null  object
 57  WelcomeChange                 52683 non-null  object
 58  WorkWeekHrs                   41151 non-null  float64
 59  YearsCode                     57684 non-null  object
 60  YearsCodePro                  46349 non-null  object
dtypes: float64(4), int64(1), object(56)
memory usage: 30.0+ MB

In [11]:
so_data.duplicated().sum()

0

In [12]:
sample_data = [['Jack',10],['Jill',11],['Harry',12],['Harry',12],['Vin',13],['Jake',14],['Jake',14],['Jake',14]]

In [13]:
sample_df = pd.DataFrame(sample_data, columns = ['Name', 'Age'])
sample_df

    Name  Age
0   Jack   10
1   Jill   11
2  Harry   12
3  Harry   12
4    Vin   13
5   Jake   14
6   Jake   14
7   Jake   14

In [14]:
sample_df.duplicated().sum()

3

In [15]:
sample_df.drop_duplicates(inplace=True)

In [16]:
sample_df.duplicated().sum()

0

In [17]:
sample_df

    Name  Age
0   Jack   10
1   Jill   11
2  Harry   12
4    Vin   13
5   Jake   14

In [18]:
so_data.isnull()

,Respondent,MainBranch,Hobbyist,Age,Age1stCode,CompFreq,CompTotal,ConvertedComp,Country,CurrencyDesc,...,SurveyEase,SurveyLength,Trans,UndergradMajor,WebframeDesireNextYear,WebframeWorkedWith,WelcomeChange,WorkWeekHrs,YearsCode,YearsCodePro
0,False,False,False,True,False,False,True,True,False,False,...,False,False,False,False,False,False,False,False,False,False
1,False,False,False,True,False,True,True,True,False,False,...,True,True,True,False,True,True,False,True,False,False
2,False,False,False,True,False,True,True,True,False,True,...,False,False,True,True,True,True,False,True,False,True
3,False,False,False,False,False,True,True,True,False,False,...,True,True,False,False,True,True,False,False,False,False
4,False,False,False,False,False,True,True,True,False,True,...,False,False,False,False,False,False,False,True,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
64456,False,True,False,True,False,True,True,True,False,True,...,True,True,True,False,True,True,True,True,False,False
64457,False,True,False,True,True,True,True,True,False,True,...,True,True,True,True,True,True,True,True,True,True
64458,False,True,False,True,True,True,True,True,False,True,...,True,True,True,True,True,True,True,True,True,True
64459,False,True,False,True,True,True,True,True,False,True,...,True,True,True,True,False,True,True,True,True,True
64460,False,True,False,True,True,True,True,True,False,True,...,True,True,True,False,False,False,True,True,True,True

In [19]:
so_data.isnull().sum()

Respondent                0
MainBranch              299
Hobbyist                 45
Age                   19015
Age1stCode             6561
                      ...
WebframeWorkedWith    22182
WelcomeChange         11778
WorkWeekHrs           23310
YearsCode              6777
YearsCodePro          18112
Length: 61, dtype: int64

In [20]:
 so_data.columns

Index(['Respondent', 'MainBranch', 'Hobbyist', 'Age', 'Age1stCode', 'CompFreq',
       'CompTotal', 'ConvertedComp', 'Country', 'CurrencyDesc',
       'CurrencySymbol', 'DatabaseDesireNextYear', 'DatabaseWorkedWith',
       'DevType', 'EdLevel', 'Employment', 'Ethnicity', 'Gender', 'JobFactors',
       'JobSat', 'JobSeek', 'LanguageDesireNextYear', 'LanguageWorkedWith',
       'MiscTechDesireNextYear', 'MiscTechWorkedWith',
       'NEWCollabToolsDesireNextYear', 'NEWCollabToolsWorkedWith', 'NEWDevOps',
       'NEWDevOpsImpt', 'NEWEdImpt', 'NEWJobHunt', 'NEWJobHuntResearch',
       'NEWLearn', 'NEWOffTopic', 'NEWOnboardGood', 'NEWOtherComms',
       'NEWOvertime', 'NEWPurchaseResearch', 'NEWPurpleLink', 'NEWSOSites',
       'NEWStuck', 'OpSys', 'OrgSize', 'PlatformDesireNextYear',
       'PlatformWorkedWith', 'PurchaseWhat', 'Sexuality', 'SOAccount',
       'SOComm', 'SOPartFreq', 'SOVisitFreq', 'SurveyEase', 'SurveyLength',
       'Trans', 'UndergradMajor', 'WebframeDesireNextYear',
       'WebframeWorkedWith', 'WelcomeChange', 'WorkWeekHrs', 'YearsCode',
       'YearsCodePro'],
      dtype='object')

In [21]:
so_data.drop(['CompTotal'], axis=1, inplace=True)

In [22]:
so_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 64461 entries, 0 to 64460
Data columns (total 60 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   Respondent                    64461 non-null  int64
 1   MainBranch                    64162 non-null  object
 2   Hobbyist                      64416 non-null  object
 3   Age                           45446 non-null  float64
 4   Age1stCode                    57900 non-null  object
 5   CompFreq                      40069 non-null  object
 6   ConvertedComp                 34756 non-null  float64
 7   Country                       64072 non-null  object
 8   CurrencyDesc                  45472 non-null  object
 9   CurrencySymbol                45472 non-null  object
 10  DatabaseDesireNextYear        44070 non-null  object
 11  DatabaseWorkedWith            49537 non-null  object
 12  DevType                       49370 non-null  object
 13  EdLevel                       57431 non-null  object
 14  Employment                    63854 non-null  object
 15  Ethnicity                     45948 non-null  object
 16  Gender                        50557 non-null  object
 17  JobFactors                    49349 non-null  object
 18  JobSat                        45194 non-null  object
 19  JobSeek                       51727 non-null  object
 20  LanguageDesireNextYear        54113 non-null  object
 21  LanguageWorkedWith            57378 non-null  object
 22  MiscTechDesireNextYear        42379 non-null  object
 23  MiscTechWorkedWith            40314 non-null  object
 24  NEWCollabToolsDesireNextYear  47287 non-null  object
 25  NEWCollabToolsWorkedWith      52883 non-null  object
 26  NEWDevOps                     42686 non-null  object
 27  NEWDevOpsImpt                 41732 non-null  object
 28  NEWEdImpt                     48465 non-null  object
 29  NEWJobHunt                    42286 non-null  object
 30  NEWJobHuntResearch            41022 non-null  object
 31  NEWLearn                      56156 non-null  object
 32  NEWOffTopic                   50804 non-null  object
 33  NEWOnboardGood                42623 non-null  object
 34  NEWOtherComms                 57205 non-null  object
 35  NEWOvertime                   43231 non-null  object
 36  NEWPurchaseResearch           37321 non-null  object
 37  NEWPurpleLink                 54803 non-null  object
 38  NEWSOSites                    58275 non-null  object
 39  NEWStuck                      54983 non-null  object
 40  OpSys                         56228 non-null  object
 41  OrgSize                       44334 non-null  object
 42  PlatformDesireNextYear        50605 non-null  object
 43  PlatformWorkedWith            53843 non-null  object
 44  PurchaseWhat                  39364 non-null  object
 45  Sexuality                     43992 non-null  object
 46  SOAccount                     56805 non-null  object
 47  SOComm                        56476 non-null  object
 48  SOPartFreq                    46792 non-null  object
 49  SOVisitFreq                   56970 non-null  object
 50  SurveyEase                    51802 non-null  object
 51  SurveyLength                  51701 non-null  object
 52  Trans                         49345 non-null  object
 53  UndergradMajor                50995 non-null  object
 54  WebframeDesireNextYear        40024 non-null  object
 55  WebframeWorkedWith            42279 non-null  object
 56  WelcomeChange                 52683 non-null  object
 57  WorkWeekHrs                   41151 non-null  float64
 58  YearsCode                     57684 non-null  object
 59  YearsCodePro                  46349 non-null  object
dtypes: float64(3), int64(1), object(56)
memory usage: 29.5+ MB

In [23]:
so_data['MainBranch'].isnull().sum()

299

In [24]:
so_data['MainBranch'].nunique()

5

In [25]:
so_data['MainBranch'].unique()

array(['I am a developer by profession', 'I code primarily as a hobby',
       'I used to be a developer by profession, but no longer am',
       'I am not primarily a developer, but I write code sometimes as part of my work',
       'I am a student who is learning to code', nan], dtype=object)

In [26]:
so_data['MainBranch'].value_counts()

I am a developer by profession                                                   47193
I am a student who is learning to code                                            7970
I am not primarily a developer, but I write code sometimes as part of my work     5502
I code primarily as a hobby                                                       2314
I used to be a developer by profession, but no longer am                          1183
Name: MainBranch, dtype: int64

In [27]:
so_data['MainBranch'].fillna(so_data['MainBranch'].mode, inplace=True)

In [28]:
so_data['MainBranch'].isnull().sum()

0

In [29]:
so_data['Hobbyist'].isnull().sum()

45

In [30]:
so_data['Hobbyist'].unique()

array(['Yes', 'No', nan], dtype=object)

In [31]:
so_data['Hobbyist'].fillna('Yes', inplace=True)

In [32]:
so_data['Hobbyist'].isnull().sum()

0

In [33]:
so_data['Hobbyist'].unique()

array(['Yes', 'No'], dtype=object)

In [34]:
so_data['CurrencyDesc'].head(15)

0            European Euro
1           Pound sterling
2                      NaN
3             Albanian lek
4                      NaN
5            European Euro
6     United States dollar
7     United States dollar
8     United States dollar
9           Pound sterling
10          Pound sterling
11           European Euro
12           European Euro
13    United States dollar
14                     NaN
Name: CurrencyDesc, dtype: object

In [35]:
so_data['CurrencyDesc'].fillna(method='ffill', inplace=True)

In [36]:
so_data['CurrencyDesc'].head(15)

0            European Euro
1           Pound sterling
2           Pound sterling
3             Albanian lek
4             Albanian lek
5            European Euro
6     United States dollar
7     United States dollar
8     United States dollar
9           Pound sterling
10          Pound sterling
11           European Euro
12           European Euro
13    United States dollar
14    United States dollar
Name: CurrencyDesc, dtype: object

In [37]:
so_data['Age'].head(15)

0      NaN
1      NaN
2      NaN
3     25.0
4     31.0
5      NaN
6      NaN
7     36.0
8     30.0
9     22.0
10    23.0
11    49.0
12    53.0
13    27.0
14     NaN
Name: Age, dtype: float64

In [38]:
so_data['Age'].fillna(method='bfill',limit=1, inplace=True)

In [39]:
so_data['Age'].head(15)

0      NaN
1      NaN
2     25.0
3     25.0
4     31.0
5      NaN
6     36.0
7     36.0
8     30.0
9     22.0
10    23.0
11    49.0
12    53.0
13    27.0
14    45.0
Name: Age, dtype: float64

In [40]:
so_data.describe()

         Respondent           Age  ConvertedComp   WorkWeekHrs
count  64461.000000  54431.000000   3.475600e+04  41151.000000
mean   32554.079738     30.793496   1.037561e+05     40.782174
std    18967.442360      9.543127   2.268853e+05     17.816383
min        1.000000      1.000000   0.000000e+00      1.000000
25%    16116.000000     24.000000   2.464800e+04     40.000000
50%    32231.000000     29.000000   5.404900e+04     40.000000
75%    49142.000000     35.000000   9.500000e+04     44.000000
max    65639.000000    279.000000   2.000000e+06    475.000000

In [42]:
so_data.sample(5)

,Respondent,MainBranch,Hobbyist,Age,Age1stCode,CompFreq,ConvertedComp,Country,CurrencyDesc,CurrencySymbol,...,SurveyEase,SurveyLength,Trans,UndergradMajor,WebframeDesireNextYear,WebframeWorkedWith,WelcomeChange,WorkWeekHrs,YearsCode,YearsCodePro
21884,21969,I am a developer by profession,Yes,29.0,14,Monthly,26100.0,Kenya,Kenyan shilling,KES,...,Neither easy nor difficult,Appropriate in length,No,"Computer science, computer engineering, or sof...",Django,Django,Just as welcome now as I felt last year,50.0,15,7
27937,28041,I code primarily as a hobby,Yes,18.0,8,NaN,NaN,Canada,Egyptian pound,NaN,...,Easy,Appropriate in length,No,"A natural science (such as biology, chemistry,...",NaN,NaN,Somewhat more welcome now than last year,NaN,10,NaN
12131,12170,"I am not primarily a developer, but I write co...",No,28.0,15,NaN,NaN,Serbia,Serbian dinar,RSD,...,Easy,Too long,NaN,"Another engineering discipline (such as civil,...",NaN,NaN,Just as welcome now as I felt last year,40.0,13,5
44227,45116,I am a developer by profession,No,21.0,13,Monthly,33732.0,Germany,European Euro,EUR,...,Neither easy nor difficult,Appropriate in length,No,"Computer science, computer engineering, or sof...",jQuery,jQuery;React.js,Just as welcome now as I felt last year,40.0,8,4
21935,22020,I am a developer by profession,Yes,30.0,15,Yearly,71345.0,France,European Euro,EUR,...,Easy,Appropriate in length,No,"Computer science, computer engineering, or sof...",Flask;React.js;Ruby on Rails;Vue.js,Django,Just as welcome now as I felt last year,37.0,14,7

In [43]:
so_data.nlargest(5,'Age')

,Respondent,MainBranch,Hobbyist,Age,Age1stCode,CompFreq,ConvertedComp,Country,CurrencyDesc,CurrencySymbol,...,SurveyEase,SurveyLength,Trans,UndergradMajor,WebframeDesireNextYear,WebframeWorkedWith,WelcomeChange,WorkWeekHrs,YearsCode,YearsCodePro
14375,14419,I am a developer by profession,Yes,279.0,16,Yearly,52968.0,Netherlands,European Euro,EUR,...,Easy,Too long,No,"Computer science, computer engineering, or sof...",NaN,React.js,Just as welcome now as I felt last year,40.0,7,3
2510,2522,I am a developer by profession,Yes,99.0,16,Weekly,2000000.0,United States,United States dollar,USD,...,Neither easy nor difficult,Too long,No,"Computer science, computer engineering, or sof...",ASP.NET;Ruby on Rails,Angular.js;ASP.NET;React.js,NaN,70.0,40,25
2625,2638,I am a developer by profession,No,99.0,Older than 85,Yearly,1000000.0,Canada,Canadian dollar,CAD,...,Difficult,Too short,NaN,"Computer science, computer engineering, or sof...",Angular;ASP.NET Core,Angular;ASP.NET Core,Somewhat less welcome now than last year,40.0,More than 50 years,More than 50 years
5926,5950,I am a developer by profession,Yes,99.0,10,Monthly,30000.0,South Korea,United States dollar,USD,...,Easy,Appropriate in length,NaN,"Computer science, computer engineering, or sof...",React.js;Ruby on Rails,React.js;Ruby on Rails,Just as welcome now as I felt last year,45.0,15,8
26740,26839,I am a student who is learning to code,Yes,99.0,17,NaN,NaN,India,Russian ruble,NaN,...,Neither easy nor difficult,Too long,No,NaN,NaN,Angular;Angular.js;ASP.NET;ASP.NET Core;Django...,NaN,NaN,4,NaN

In [44]:
so_data.nsmallest(5,'Age')

,Respondent,MainBranch,Hobbyist,Age,Age1stCode,CompFreq,ConvertedComp,Country,CurrencyDesc,CurrencySymbol,...,SurveyEase,SurveyLength,Trans,UndergradMajor,WebframeDesireNextYear,WebframeWorkedWith,WelcomeChange,WorkWeekHrs,YearsCode,YearsCodePro
12271,12310,I am a student who is learning to code,Yes,1.0,23,NaN,NaN,Nigeria,Czech koruna,NaN,...,Neither easy nor difficult,Appropriate in length,No,NaN,Django,Django,Somewhat less welcome now than last year,NaN,Less than 1 year,NaN
20042,20122,I am a developer by profession,Yes,1.0,20,Monthly,1000000.0,Indonesia,Indonesian rupiah,IDR,...,Neither easy nor difficult,Too long,Yes,"Computer science, computer engineering, or sof...",Vue.js,Angular,Somewhat less welcome now than last year,9.0,5,1
25060,25153,I am a student who is learning to code,Yes,1.0,7,NaN,NaN,Armenia,United States dollar,NaN,...,Easy,Appropriate in length,No,NaN,NaN,NaN,Just as welcome now as I felt last year,NaN,5,NaN
25061,25154,I am a developer by profession,Yes,1.0,12,Yearly,75669.0,Netherlands,European Euro,EUR,...,Neither easy nor difficult,Too long,NaN,"Computer science, computer engineering, or sof...",Angular;ASP.NET Core;React.js,Angular;ASP.NET Core;Express;jQuery;Laravel;Re...,A lot more welcome now than last year,65.0,14,7
54687,55797,I am a developer by profession,Yes,1.0,Younger than 5 years,Monthly,48.0,United States,United States dollar,USD,...,Neither easy nor difficult,Appropriate in length,Yes,NaN,Angular,Angular,A lot less welcome now than last year,NaN,Less than 1 year,Less than 1 year

In [45]:
so_data.groupby('MainBranch').get_group('I am a student who is learning to code')

,Respondent,MainBranch,Hobbyist,Age,Age1stCode,CompFreq,ConvertedComp,Country,CurrencyDesc,CurrencySymbol,...,SurveyEase,SurveyLength,Trans,UndergradMajor,WebframeDesireNextYear,WebframeWorkedWith,WelcomeChange,WorkWeekHrs,YearsCode,YearsCodePro
14,15,I am a student who is learning to code,Yes,45.0,13,NaN,NaN,France,United States dollar,NaN,...,Easy,Appropriate in length,No,"Computer science, computer engineering, or sof...",NaN,NaN,Just as welcome now as I felt last year,NaN,4,NaN
20,21,I am a student who is learning to code,Yes,23.0,16,NaN,NaN,Belgium,European Euro,NaN,...,Neither easy nor difficult,Appropriate in length,No,NaN,Gatsby;React.js;Spring;Vue.js,Angular;ASP.NET Core;Express;React.js;Spring,NaN,NaN,7,NaN
27,28,I am a student who is learning to code,Yes,18.0,22,NaN,NaN,China,Canadian dollar,NaN,...,Neither easy nor difficult,Too long,No,"A health science (such as nursing, pharmacy, r...",NaN,NaN,Just as welcome now as I felt last year,NaN,2,NaN
28,29,I am a student who is learning to code,Yes,18.0,15,NaN,NaN,Ukraine,Canadian dollar,NaN,...,Neither easy nor difficult,Appropriate in length,No,NaN,Angular;Angular.js;ASP.NET;ASP.NET Core;jQuery...,NaN,Not applicable - I did not use Stack Overflow ...,NaN,Less than 1 year,NaN
34,35,I am a student who is learning to code,Yes,16.0,13,NaN,NaN,United States,European Euro,NaN,...,Easy,Too long,No,"Information systems, information technology, o...",Angular;Angular.js;Express;jQuery;React.js;Vue.js,Express;jQuery,Just as welcome now as I felt last year,NaN,3,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
64078,65548,I am a student who is learning to code,Yes,NaN,11,NaN,NaN,Bulgaria,Russian ruble,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,Just as welcome now as I felt last year,NaN,4,NaN
64126,65601,I am a student who is learning to code,No,NaN,NaN,NaN,NaN,Greece,Hungarian forint,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
64149,65626,I am a student who is learning to code,No,NaN,NaN,NaN,NaN,United States,Colombian peso,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
64160,65637,I am a student who is learning to code,Yes,NaN,NaN,NaN,NaN,Ethiopia,Japanese yen,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
64161,65639,I am a student who is learning to code,No,24.0,NaN,NaN,NaN,Georgia,Japanese yen,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [47]:
so_data_new = so_data.loc[1:1000]

In [49]:
so_data_new.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 1 to 1000
Data columns (total 60 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   Respondent                    1000 non-null   int64
 1   MainBranch                    1000 non-null   object
 2   Hobbyist                      1000 non-null   object
 3   Age                           981 non-null    float64
 4   Age1stCode                    992 non-null    object
 5   CompFreq                      731 non-null    object
 6   ConvertedComp                 673 non-null    float64
 7   Country                       1000 non-null   object
 8   CurrencyDesc                  1000 non-null   object
 9   CurrencySymbol                818 non-null    object
 10  DatabaseDesireNextYear        746 non-null    object
 11  DatabaseWorkedWith            851 non-null    object
 12  DevType                       852 non-null    object
 13  EdLevel                       971 non-null    object
 14  Employment                    993 non-null    object
 15  Ethnicity                     888 non-null    object
 16  Gender                        947 non-null    object
 17  JobFactors                    901 non-null    object
 18  JobSat                        811 non-null    object
 19  JobSeek                       944 non-null    object
 20  LanguageDesireNextYear        930 non-null    object
 21  LanguageWorkedWith            986 non-null    object
 22  MiscTechDesireNextYear        738 non-null    object
 23  MiscTechWorkedWith            721 non-null    object
 24  NEWCollabToolsDesireNextYear  827 non-null    object
 25  NEWCollabToolsWorkedWith      937 non-null    object
 26  NEWDevOps                     789 non-null    object
 27  NEWDevOpsImpt                 775 non-null    object
 28  NEWEdImpt                     853 non-null    object
 29  NEWJobHunt                    797 non-null    object
 30  NEWJobHuntResearch            770 non-null    object
 31  NEWLearn                      951 non-null    object
 32  NEWOffTopic                   942 non-null    object
 33  NEWOnboardGood                792 non-null    object
 34  NEWOtherComms                 993 non-null    object
 35  NEWOvertime                   804 non-null    object
 36  NEWPurchaseResearch           670 non-null    object
 37  NEWPurpleLink                 976 non-null    object
 38  NEWSOSites                    993 non-null    object
 39  NEWStuck                      979 non-null    object
 40  OpSys                         991 non-null    object
 41  OrgSize                       794 non-null    object
 42  PlatformDesireNextYear        867 non-null    object
 43  PlatformWorkedWith            933 non-null    object
 44  PurchaseWhat                  726 non-null    object
 45  Sexuality                     879 non-null    object
 46  SOAccount                     980 non-null    object
 47  SOComm                        981 non-null    object
 48  SOPartFreq                    898 non-null    object
 49  SOVisitFreq                   981 non-null    object
 50  SurveyEase                    987 non-null    object
 51  SurveyLength                  987 non-null    object
 52  Trans                         938 non-null    object
 53  UndergradMajor                881 non-null    object
 54  WebframeDesireNextYear        687 non-null    object
 55  WebframeWorkedWith            740 non-null    object
 56  WelcomeChange                 951 non-null    object
 57  WorkWeekHrs                   772 non-null    float64
 58  YearsCode                     990 non-null    object
 59  YearsCodePro                  821 non-null    object
dtypes: float64(3), int64(1), object(56)
memory usage: 468.9+ KB

In [51]:
so_data_new.loc[:15]

,Respondent,MainBranch,Hobbyist,Age,Age1stCode,CompFreq,ConvertedComp,Country,CurrencyDesc,CurrencySymbol,...,SurveyEase,SurveyLength,Trans,UndergradMajor,WebframeDesireNextYear,WebframeWorkedWith,WelcomeChange,WorkWeekHrs,YearsCode,YearsCodePro
1,2,I am a developer by profession,No,NaN,19,NaN,NaN,United Kingdom,Pound sterling,GBP,...,NaN,NaN,NaN,"Computer science, computer engineering, or sof...",NaN,NaN,Somewhat more welcome now than last year,NaN,7,4
2,3,I code primarily as a hobby,Yes,25.0,15,NaN,NaN,Russian Federation,Pound sterling,NaN,...,Neither easy nor difficult,Appropriate in length,NaN,NaN,NaN,NaN,Somewhat more welcome now than last year,NaN,4,NaN
3,4,I am a developer by profession,Yes,25.0,18,NaN,NaN,Albania,Albanian lek,ALL,...,NaN,NaN,No,"Computer science, computer engineering, or sof...",NaN,NaN,Somewhat less welcome now than last year,40.0,7,4
4,5,"I used to be a developer by profession, but no...",Yes,31.0,16,NaN,NaN,United States,Albanian lek,NaN,...,Easy,Too short,No,"Computer science, computer engineering, or sof...",Django;Ruby on Rails,Ruby on Rails,Just as welcome now as I felt last year,NaN,15,8
5,6,I am a developer by profession,No,NaN,14,NaN,NaN,Germany,European Euro,EUR,...,Neither easy nor difficult,Appropriate in length,NaN,NaN,React.js,NaN,NaN,NaN,6,4
6,7,I am a developer by profession,Yes,36.0,18,Monthly,NaN,India,United States dollar,USD,...,NaN,NaN,NaN,"Computer science, computer engineering, or sof...",NaN,NaN,A lot more welcome now than last year,NaN,6,4
7,8,I am a developer by profession,Yes,36.0,12,Yearly,116000.0,United States,United States dollar,USD,...,Easy,Appropriate in length,No,"Computer science, computer engineering, or sof...",Django;React.js;Vue.js,Flask,Just as welcome now as I felt last year,39.0,17,13
8,9,I am a developer by profession,No,30.0,20,NaN,NaN,Tunisia,United States dollar,USD,...,Neither easy nor difficult,Appropriate in length,No,"Computer science, computer engineering, or sof...",Angular.js,jQuery,Just as welcome now as I felt last year,50.0,6,4
9,10,I am a developer by profession,Yes,22.0,14,Yearly,32315.0,United Kingdom,Pound sterling,GBP,...,Easy,Appropriate in length,No,Mathematics or statistics,Flask;jQuery,Flask;jQuery,Somewhat more welcome now than last year,36.0,8,4
10,11,I am a developer by profession,Yes,23.0,13,Yearly,40070.0,United Kingdom,Pound sterling,GBP,...,Easy,Appropriate in length,No,"Computer science, computer engineering, or sof...",Angular;Django;React.js,Angular;Angular.js;Django;React.js,Just as welcome now as I felt last year,40.0,10,2
11,12,I am a developer by profession,No,49.0,42,Monthly,14268.0,Spain,European Euro,EUR,...,Easy,Appropriate in length,No,Mathematics or statistics,ASP.NET;jQuery,ASP.NET;jQuery,Just as welcome now as I felt last year,40.0,7,7
12,13,"I am not primarily a developer, but I write co...",Yes,53.0,14,Monthly,38916.0,Netherlands,European Euro,EUR,...,Neither easy nor difficult,Too long,No,NaN,NaN,NaN,A lot less welcome now than last year,36.0,35,20
13,14,I am a developer by profession,Yes,27.0,13,Yearly,66000.0,United States,United States dollar,USD,...,Neither easy nor difficult,Appropriate in length,No,"Computer science, computer engineering, or sof...",Angular;Vue.js,Angular;Vue.js,Just as welcome now as I felt last year,40.0,5,1
14,15,I am a student who is learning to code,Yes,45.0,13,NaN,NaN,France,United States dollar,NaN,...,Easy,Appropriate in length,No,"Computer science, computer engineering, or sof...",NaN,NaN,Just as welcome now as I felt last year,NaN,4,NaN
15,16,I am a developer by profession,Yes,45.0,8,Monthly,108576.0,United Kingdom,Pound sterling,GBP,...,Easy,Appropriate in length,No,"Computer science, computer engineering, or sof...",NaN,jQuery;React.js,Just as welcome now as I felt last year,50.0,37,23

In [52]:
so_data_new.loc[so_data_new.Country == 'United States']

,Respondent,MainBranch,Hobbyist,Age,Age1stCode,CompFreq,ConvertedComp,Country,CurrencyDesc,CurrencySymbol,...,SurveyEase,SurveyLength,Trans,UndergradMajor,WebframeDesireNextYear,WebframeWorkedWith,WelcomeChange,WorkWeekHrs,YearsCode,YearsCodePro
4,5,"I used to be a developer by profession, but no...",Yes,31.0,16,NaN,NaN,United States,Albanian lek,NaN,...,Easy,Too short,No,"Computer science, computer engineering, or sof...",Django;Ruby on Rails,Ruby on Rails,Just as welcome now as I felt last year,NaN,15,8
7,8,I am a developer by profession,Yes,36.0,12,Yearly,116000.0,United States,United States dollar,USD,...,Easy,Appropriate in length,No,"Computer science, computer engineering, or sof...",Django;React.js;Vue.js,Flask,Just as welcome now as I felt last year,39.0,17,13
13,14,I am a developer by profession,Yes,27.0,13,Yearly,66000.0,United States,United States dollar,USD,...,Neither easy nor difficult,Appropriate in length,No,"Computer science, computer engineering, or sof...",Angular;Vue.js,Angular;Vue.js,Just as welcome now as I felt last year,40.0,5,1
16,17,I am a developer by profession,Yes,25.0,14,Yearly,79000.0,United States,United States dollar,USD,...,Easy,Appropriate in length,No,"Computer science, computer engineering, or sof...",ASP.NET Core;Gatsby;React.js;Vue.js,ASP.NET;Gatsby;jQuery;React.js;Vue.js,Just as welcome now as I felt last year,40.0,7,3
17,18,I am a developer by profession,Yes,32.0,12,Monthly,1260000.0,United States,United States dollar,USD,...,Neither easy nor difficult,Appropriate in length,No,"Computer science, computer engineering, or sof...",NaN,NaN,Just as welcome now as I felt last year,45.0,19,12
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
986,990,"I am not primarily a developer, but I write co...",No,30.0,19,Yearly,78000.0,United States,United States dollar,USD,...,Easy,Appropriate in length,No,"Computer science, computer engineering, or sof...",Flask;React.js,Flask,Somewhat less welcome now than last year,40.0,11,9
991,995,I am a developer by profession,Yes,27.0,7,Yearly,168000.0,United States,United States dollar,USD,...,Easy,Appropriate in length,No,"Computer science, computer engineering, or sof...",React.js,Angular;Angular.js;React.js;Ruby on Rails,Somewhat less welcome now than last year,40.0,17,7
992,996,I am a developer by profession,No,29.0,15,Yearly,80000.0,United States,United States dollar,USD,...,Easy,Appropriate in length,No,"A social science (such as anthropology, psycho...",Ruby on Rails;Vue.js,NaN,Just as welcome now as I felt last year,50.0,6,4
997,1001,I am a developer by profession,No,39.0,12,Yearly,155000.0,United States,United States dollar,USD,...,Easy,Appropriate in length,No,"Computer science, computer engineering, or sof...",React.js;Spring,React.js;Spring,Just as welcome now as I felt last year,44.0,23,19
998,1002,I code primarily as a hobby,Yes,35.0,25,NaN,NaN,United States,United States dollar,NaN,...,Easy,Appropriate in length,No,"A business discipline (such as accounting, fin...",Flask,Flask,Just as welcome now as I felt last year,NaN,10,NaN

In [54]:
so_data_new.loc[(so_data_new.Country == 'United States') & (so_data_new.Age <25)]

,Respondent,MainBranch,Hobbyist,Age,Age1stCode,CompFreq,ConvertedComp,Country,CurrencyDesc,CurrencySymbol,...,SurveyEase,SurveyLength,Trans,UndergradMajor,WebframeDesireNextYear,WebframeWorkedWith,WelcomeChange,WorkWeekHrs,YearsCode,YearsCodePro
18,19,I am a developer by profession,No,24.0,15,Yearly,83400.0,United States,United States dollar,USD,...,Easy,Appropriate in length,No,"Computer science, computer engineering, or sof...",Django;Express;React.js,Angular;Angular.js;ASP.NET Core,Just as welcome now as I felt last year,35.0,9,3
34,35,I am a student who is learning to code,Yes,16.0,13,NaN,NaN,United States,European Euro,NaN,...,Easy,Too long,No,"Information systems, information technology, o...",Angular;Angular.js;Express;jQuery;React.js;Vue.js,Express;jQuery,Just as welcome now as I felt last year,NaN,3,NaN
39,40,I am a student who is learning to code,Yes,20.0,14,NaN,NaN,United States,Pound sterling,NaN,...,Easy,Appropriate in length,No,NaN,NaN,NaN,Just as welcome now as I felt last year,NaN,6,NaN
48,49,I am a developer by profession,No,23.0,15,Yearly,52000.0,United States,United States dollar,USD,...,Easy,Appropriate in length,No,"Computer science, computer engineering, or sof...",Angular;Angular.js;ASP.NET;ASP.NET Core,ASP.NET;ASP.NET Core,Just as welcome now as I felt last year,40.0,8,4
52,53,I am a developer by profession,Yes,17.0,9,NaN,NaN,United States,United States dollar,USD,...,Easy,Appropriate in length,No,NaN,NaN,Flask,A lot less welcome now than last year,5.0,8,3
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
869,871,I code primarily as a hobby,Yes,16.0,11,NaN,NaN,United States,European Euro,NaN,...,Easy,Appropriate in length,No,I never declared a major,NaN,NaN,Just as welcome now as I felt last year,NaN,5,NaN
883,885,"I am not primarily a developer, but I write co...",No,24.0,13,Yearly,89000.0,United States,United States dollar,USD,...,Easy,Appropriate in length,No,"Computer science, computer engineering, or sof...",ASP.NET;jQuery;React.js,ASP.NET,Just as welcome now as I felt last year,50.0,9,3
888,891,I am a developer by profession,No,24.0,15,Yearly,71000.0,United States,United States dollar,USD,...,Neither easy nor difficult,Appropriate in length,No,"Computer science, computer engineering, or sof...",NaN,NaN,Somewhat more welcome now than last year,45.0,9,2
911,915,I am a developer by profession,Yes,23.0,13,Yearly,90000.0,United States,United States dollar,USD,...,Easy,Appropriate in length,No,"Computer science, computer engineering, or sof...",ASP.NET Core;Gatsby;React.js;Vue.js,ASP.NET;ASP.NET Core;Express;Gatsby;React.js,Just as welcome now as I felt last year,40.0,7,2
952,956,I am a developer by profession,Yes,17.0,10,Weekly,NaN,United States,United States dollar,USD,...,Easy,Appropriate in length,No,NaN,ASP.NET Core;jQuery;React.js;Vue.js,jQuery;React.js,Somewhat more welcome now than last year,12.0,8,2

In [57]:
so_data_new.loc[(so_data_new.Age <=25), ['Age', 'MainBranch', 'Country']]

,Age,MainBranch,Country
2,25.0,I code primarily as a hobby,Russian Federation
3,25.0,I am a developer by profession,Albania
9,22.0,I am a developer by profession,United Kingdom
10,23.0,I am a developer by profession,United Kingdom
16,25.0,I am a developer by profession,United States
...,...,...,...
993,24.0,I am a developer by profession,India
994,18.0,"I am not primarily a developer, but I write co...",Germany
995,24.0,I am a developer by profession,Lebanon
996,24.0,I am a developer by profession,Belarus
999,25.0,I am a developer by profession,Canada

In [58]:
so_data_new.iloc[[0,5,10,15]]

,Respondent,MainBranch,Hobbyist,Age,Age1stCode,CompFreq,ConvertedComp,Country,CurrencyDesc,CurrencySymbol,...,SurveyEase,SurveyLength,Trans,UndergradMajor,WebframeDesireNextYear,WebframeWorkedWith,WelcomeChange,WorkWeekHrs,YearsCode,YearsCodePro
1,2,I am a developer by profession,No,NaN,19,NaN,NaN,United Kingdom,Pound sterling,GBP,...,NaN,NaN,NaN,"Computer science, computer engineering, or sof...",NaN,NaN,Somewhat more welcome now than last year,NaN,7,4
6,7,I am a developer by profession,Yes,36.0,18,Monthly,NaN,India,United States dollar,USD,...,NaN,NaN,NaN,"Computer science, computer engineering, or sof...",NaN,NaN,A lot more welcome now than last year,NaN,6,4
11,12,I am a developer by profession,No,49.0,42,Monthly,14268.0,Spain,European Euro,EUR,...,Easy,Appropriate in length,No,Mathematics or statistics,ASP.NET;jQuery,ASP.NET;jQuery,Just as welcome now as I felt last year,40.0,7,7
16,17,I am a developer by profession,Yes,25.0,14,Yearly,79000.0,United States,United States dollar,USD,...,Easy,Appropriate in length,No,"Computer science, computer engineering, or sof...",ASP.NET Core;Gatsby;React.js;Vue.js,ASP.NET;Gatsby;jQuery;React.js;Vue.js,Just as welcome now as I felt last year,40.0,7,3

In [59]:
so_data_new = so_data.iloc[:1000]

In [60]:
so_data_new.iloc[[0,5,10,15]]

,Respondent,MainBranch,Hobbyist,Age,Age1stCode,CompFreq,ConvertedComp,Country,CurrencyDesc,CurrencySymbol,...,SurveyEase,SurveyLength,Trans,UndergradMajor,WebframeDesireNextYear,WebframeWorkedWith,WelcomeChange,WorkWeekHrs,YearsCode,YearsCodePro
0,1,I am a developer by profession,Yes,NaN,13,Monthly,NaN,Germany,European Euro,EUR,...,Neither easy nor difficult,Appropriate in length,No,"Computer science, computer engineering, or sof...",ASP.NET Core,ASP.NET;ASP.NET Core,Just as welcome now as I felt last year,50.0,36,27
5,6,I am a developer by profession,No,NaN,14,NaN,NaN,Germany,European Euro,EUR,...,Neither easy nor difficult,Appropriate in length,NaN,NaN,React.js,NaN,NaN,NaN,6,4
10,11,I am a developer by profession,Yes,23.0,13,Yearly,40070.0,United Kingdom,Pound sterling,GBP,...,Easy,Appropriate in length,No,"Computer science, computer engineering, or sof...",Angular;Django;React.js,Angular;Angular.js;Django;React.js,Just as welcome now as I felt last year,40.0,10,2
15,16,I am a developer by profession,Yes,45.0,8,Monthly,108576.0,United Kingdom,Pound sterling,GBP,...,Easy,Appropriate in length,No,"Computer science, computer engineering, or sof...",NaN,jQuery;React.js,Just as welcome now as I felt last year,50.0,37,23

In [68]:
so_data_new2 = so_data.iloc[:1000]

In [69]:
so_data_new2.iloc[[0,5,10,15]]

,Respondent,MainBranch,Hobbyist,Age,Age1stCode,CompFreq,ConvertedComp,Country,CurrencyDesc,CurrencySymbol,...,SurveyEase,SurveyLength,Trans,UndergradMajor,WebframeDesireNextYear,WebframeWorkedWith,WelcomeChange,WorkWeekHrs,YearsCode,YearsCodePro
0,1,I am a developer by profession,Yes,NaN,13,Monthly,NaN,Germany,European Euro,EUR,...,Neither easy nor difficult,Appropriate in length,No,"Computer science, computer engineering, or sof...",ASP.NET Core,ASP.NET;ASP.NET Core,Just as welcome now as I felt last year,50.0,36,27
5,6,I am a developer by profession,No,NaN,14,NaN,NaN,Germany,European Euro,EUR,...,Neither easy nor difficult,Appropriate in length,NaN,NaN,React.js,NaN,NaN,NaN,6,4
10,11,I am a developer by profession,Yes,23.0,13,Yearly,40070.0,United Kingdom,Pound sterling,GBP,...,Easy,Appropriate in length,No,"Computer science, computer engineering, or sof...",Angular;Django;React.js,Angular;Angular.js;Django;React.js,Just as welcome now as I felt last year,40.0,10,2
15,16,I am a developer by profession,Yes,45.0,8,Monthly,108576.0,United Kingdom,Pound sterling,GBP,...,Easy,Appropriate in length,No,"Computer science, computer engineering, or sof...",NaN,jQuery;React.js,Just as welcome now as I felt last year,50.0,37,23

In [70]:
so_data_new2.iloc[:5, :5]

,Respondent,MainBranch,Hobbyist,Age,Age1stCode
0,1,I am a developer by profession,Yes,NaN,13
1,2,I am a developer by profession,No,NaN,19
2,3,I code primarily as a hobby,Yes,25.0,15
3,4,I am a developer by profession,Yes,25.0,18
4,5,"I used to be a developer by profession, but no...",Yes,31.0,16

In [71]:
so_data_new2.iloc[2:5, :5]

,Respondent,MainBranch,Hobbyist,Age,Age1stCode
2,3,I code primarily as a hobby,Yes,25.0,15
3,4,I am a developer by profession,Yes,25.0,18
4,5,"I used to be a developer by profession, but no...",Yes,31.0,16

In [72]:
so_data_new2.iloc[2:5, 2:5]

  Hobbyist   Age Age1stCode
2      Yes  25.0         15
3      Yes  25.0         18
4      Yes  31.0         16

In [73]:
so_data_new2.loc[2:5]

,Respondent,MainBranch,Hobbyist,Age,Age1stCode,CompFreq,ConvertedComp,Country,CurrencyDesc,CurrencySymbol,...,SurveyEase,SurveyLength,Trans,UndergradMajor,WebframeDesireNextYear,WebframeWorkedWith,WelcomeChange,WorkWeekHrs,YearsCode,YearsCodePro
2,3,I code primarily as a hobby,Yes,25.0,15,NaN,NaN,Russian Federation,Pound sterling,NaN,...,Neither easy nor difficult,Appropriate in length,NaN,NaN,NaN,NaN,Somewhat more welcome now than last year,NaN,4,NaN
3,4,I am a developer by profession,Yes,25.0,18,NaN,NaN,Albania,Albanian lek,ALL,...,NaN,NaN,No,"Computer science, computer engineering, or sof...",NaN,NaN,Somewhat less welcome now than last year,40.0,7,4
4,5,"I used to be a developer by profession, but no...",Yes,31.0,16,NaN,NaN,United States,Albanian lek,NaN,...,Easy,Too short,No,"Computer science, computer engineering, or sof...",Django;Ruby on Rails,Ruby on Rails,Just as welcome now as I felt last year,NaN,15,8
5,6,I am a developer by profession,No,NaN,14,NaN,NaN,Germany,European Euro,EUR,...,Neither easy nor difficult,Appropriate in length,NaN,NaN,React.js,NaN,NaN,NaN,6,4

In [74]:
so_data_new2.iloc[2:5]

,Respondent,MainBranch,Hobbyist,Age,Age1stCode,CompFreq,ConvertedComp,Country,CurrencyDesc,CurrencySymbol,...,SurveyEase,SurveyLength,Trans,UndergradMajor,WebframeDesireNextYear,WebframeWorkedWith,WelcomeChange,WorkWeekHrs,YearsCode,YearsCodePro
2,3,I code primarily as a hobby,Yes,25.0,15,NaN,NaN,Russian Federation,Pound sterling,NaN,...,Neither easy nor difficult,Appropriate in length,NaN,NaN,NaN,NaN,Somewhat more welcome now than last year,NaN,4,NaN
3,4,I am a developer by profession,Yes,25.0,18,NaN,NaN,Albania,Albanian lek,ALL,...,NaN,NaN,No,"Computer science, computer engineering, or sof...",NaN,NaN,Somewhat less welcome now than last year,40.0,7,4
4,5,"I used to be a developer by profession, but no...",Yes,31.0,16,NaN,NaN,United States,Albanian lek,NaN,...,Easy,Too short,No,"Computer science, computer engineering, or sof...",Django;Ruby on Rails,Ruby on Rails,Just as welcome now as I felt last year,NaN,15,8

In [77]:
so_data_new2[['MainBranch','Hobbyist','Age','Country']].sort_values(by='Age')

,MainBranch,Hobbyist,Age,Country
767,I code primarily as a hobby,Yes,11.0,United States
578,I am a student who is learning to code,Yes,13.0,United Kingdom
779,I am a student who is learning to code,Yes,14.0,United States
944,I am a student who is learning to code,Yes,14.0,India
945,I am a student who is learning to code,Yes,14.0,Canada
...,...,...,...,...
845,I am a developer by profession,Yes,NaN,Germany
922,I am a developer by profession,Yes,NaN,India
943,"I used to be a developer by profession, but no...",No,NaN,United States
958,I am a developer by profession,Yes,NaN,Nigeria
959,I am a developer by profession,No,NaN,Portugal

In [78]:
so_data_new2.query('Age < 23 and Gender == "Woman" ')

,Respondent,MainBranch,Hobbyist,Age,Age1stCode,CompFreq,ConvertedComp,Country,CurrencyDesc,CurrencySymbol,...,SurveyEase,SurveyLength,Trans,UndergradMajor,WebframeDesireNextYear,WebframeWorkedWith,WelcomeChange,WorkWeekHrs,YearsCode,YearsCodePro
34,35,I am a student who is learning to code,Yes,16.0,13,NaN,NaN,United States,European Euro,NaN,...,Easy,Too long,No,"Information systems, information technology, o...",Angular;Angular.js;Express;jQuery;React.js;Vue.js,Express;jQuery,Just as welcome now as I felt last year,NaN,3,NaN
39,40,I am a student who is learning to code,Yes,20.0,14,NaN,NaN,United States,Pound sterling,NaN,...,Easy,Appropriate in length,No,NaN,NaN,NaN,Just as welcome now as I felt last year,NaN,6,NaN
65,66,I am a developer by profession,Yes,21.0,9,NaN,NaN,Canada,United States dollar,NaN,...,Neither easy nor difficult,Appropriate in length,No,"Computer science, computer engineering, or sof...",NaN,Django;jQuery,Not applicable - I did not use Stack Overflow ...,NaN,12,NaN
84,85,I am a developer by profession,Yes,21.0,15,Weekly,NaN,United States,United States dollar,USD,...,Easy,Appropriate in length,No,Web development or web design,Angular;Angular.js;Django;Flask;jQuery;React.js,ASP.NET;ASP.NET Core;jQuery;React.js,Just as welcome now as I felt last year,24.0,6,1
87,88,I am a student who is learning to code,No,21.0,14,NaN,NaN,Canada,Mexican peso,NaN,...,Easy,Too short,No,"Computer science, computer engineering, or sof...",NaN,NaN,Just as welcome now as I felt last year,NaN,7,NaN
324,326,I am a developer by profession,Yes,21.0,11,Monthly,24000.0,United States,United States dollar,USD,...,Easy,Appropriate in length,No,"Computer science, computer engineering, or sof...",Express;React.js,Angular;Express;React.js,Somewhat more welcome now than last year,25.0,4,3
457,459,I code primarily as a hobby,Yes,18.0,13,NaN,NaN,Norway,United States dollar,NaN,...,Easy,Too short,Yes,NaN,NaN,NaN,Just as welcome now as I felt last year,NaN,5,NaN
552,554,I am a student who is learning to code,Yes,16.0,10,NaN,NaN,Israel,Indian rupee,NaN,...,Easy,Appropriate in length,No,"Computer science, computer engineering, or sof...",Express;React.js;Vue.js,Express;Flask,Just as welcome now as I felt last year,NaN,6,NaN
670,672,I am a developer by profession,Yes,22.0,17,NaN,NaN,United States,European Euro,NaN,...,Easy,Appropriate in length,No,"Computer science, computer engineering, or sof...",NaN,NaN,Just as welcome now as I felt last year,NaN,6,NaN
974,978,I am a student who is learning to code,Yes,21.0,20,NaN,NaN,Canada,United States dollar,NaN,...,Neither easy nor difficult,Appropriate in length,No,"A health science (such as nursing, pharmacy, r...",Django;React.js;Vue.js,Django,A lot less welcome now than last year,NaN,1,NaN

In [81]:
so_data_new2.query('40 < WorkWeekHrs < 50')

,Respondent,MainBranch,Hobbyist,Age,Age1stCode,CompFreq,ConvertedComp,Country,CurrencyDesc,CurrencySymbol,...,SurveyEase,SurveyLength,Trans,UndergradMajor,WebframeDesireNextYear,WebframeWorkedWith,WelcomeChange,WorkWeekHrs,YearsCode,YearsCodePro
17,18,I am a developer by profession,Yes,32.0,12,Monthly,1260000.0,United States,United States dollar,USD,...,Neither easy nor difficult,Appropriate in length,No,"Computer science, computer engineering, or sof...",NaN,NaN,Just as welcome now as I felt last year,45.0,19,12
23,24,I am a developer by profession,Yes,45.0,14,Yearly,91883.0,Germany,European Euro,EUR,...,Easy,Appropriate in length,No,"Another engineering discipline (such as civil,...",NaN,NaN,Just as welcome now as I felt last year,42.0,30,20
42,43,I am a developer by profession,Yes,32.0,16,Yearly,135000.0,United States,United States dollar,USD,...,Easy,Appropriate in length,NaN,"Computer science, computer engineering, or sof...",NaN,ASP.NET,Just as welcome now as I felt last year,45.0,36,29
43,44,I am a developer by profession,No,32.0,21,Yearly,55893.0,Brazil,Brazilian real,BRL,...,Neither easy nor difficult,Appropriate in length,No,"Another engineering discipline (such as civil,...",NaN,NaN,Just as welcome now as I felt last year,45.0,10,6
56,57,I am a developer by profession,No,44.0,12,Monthly,1620000.0,United States,United States dollar,USD,...,Easy,Appropriate in length,No,"Computer science, computer engineering, or sof...",NaN,NaN,Just as welcome now as I felt last year,43.0,33,23
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
979,983,I am a developer by profession,No,38.0,7,Yearly,120000.0,United States,United States dollar,USD,...,Easy,Appropriate in length,No,"Computer science, computer engineering, or sof...",NaN,Angular;Angular.js;ASP.NET;ASP.NET Core;jQuery...,NaN,43.0,30,18
981,985,I am a developer by profession,Yes,24.0,18,Yearly,22701.0,Spain,European Euro,EUR,...,Easy,Too long,No,"Computer science, computer engineering, or sof...",Spring,Flask,A lot more welcome now than last year,41.0,5,2
984,988,I am a developer by profession,Yes,27.0,12,Monthly,42468.0,United Arab Emirates,United Arab Emirates dirham,AED,...,Neither easy nor difficult,Appropriate in length,No,"Computer science, computer engineering, or sof...",Angular;Express;React.js;Spring;Vue.js,Angular;Angular.js;jQuery;Spring,Somewhat less welcome now than last year,45.0,14,6
995,999,I am a developer by profession,Yes,24.0,10,Monthly,NaN,Lebanon,Lebanese pound,LBP,...,Easy,Too long,No,"Computer science, computer engineering, or sof...",NaN,Angular.js;ASP.NET;ASP.NET Core;jQuery;Laravel...,Somewhat less welcome now than last year,44.0,15,3
997,1001,I am a developer by profession,No,39.0,12,Yearly,155000.0,United States,United States dollar,USD,...,Easy,Appropriate in length,No,"Computer science, computer engineering, or sof...",React.js;Spring,React.js;Spring,Just as welcome now as I felt last year,44.0,23,19

In [ ]:
so_data_new.to_csv('Reduced StackOverflow')